{{ 'lds-component-reinsurance.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .footer-reinsurances {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer-reinsurances {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
{%- if section.settings.reinsurances_enable -%}
<div class="footer-reinsurances color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  {{ 'component-reinsurance.css' | asset_url | stylesheet_tag }}
  <div class="page-width{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %} reinsurance--content-align-{{ section.settings.text_alignment }} reinsurance--flex-{{ section.settings.box_direction }}">
    <div class="grid grid--2-col grid--4-col-tablet grid--4-col-desktop">
      <div class="reinsurance grid__item">
        {%- if settings.link_reinsurance_1 != blank -%}
        <a href="{{ section.settings.link_reinsurance_1 }}" class="reinsurance_box{% if section.settings.show_text_box == true %} content-container color-{{ section.settings.color_scheme_text_box }} gradient{% endif %} text--{{ section.settings.text_alignment }} full-unstyled-link">
        {%- else -%}
        <div class="reinsurance_box{% if section.settings.show_text_box == true %} content-container color-{{ section.settings.color_scheme_text_box }} gradient{% endif %}">
        {%- endif -%}
          <div class="reinsurance__img-content">
            {{ settings.icon_reinsurance_1 | img_url: '40x', scale: 2 | img_tag: settings.text_reinsurance_1, 'reinsurance__icon' }}
          </div>
          <div class="reinsurance__text-content">
            {{ settings.text_reinsurance_1 }}
          </div>
        {%- if settings.link_reinsurance_1 != blank -%}
        </a>
        {%- else -%}
        </div>
        {%- endif -%}
      </div>
      <div class="reinsurance grid__item">
        {%- if settings.link_reinsurance_2 != blank -%}
        <a href="{{ section.settings.link_reinsurance_2 }}" class="reinsurance_box{% if section.settings.show_text_box == true %} content-container color-{{ section.settings.color_scheme_text_box }} gradient{% endif %} text--{{ section.settings.text_alignment }} full-unstyled-link">
        {%- else -%}
        <div class="reinsurance_box{% if section.settings.show_text_box == true %} content-container color-{{ section.settings.color_scheme_text_box }} gradient{% endif %}">
        {%- endif -%}
          <div class="reinsurance__img-content">
            {{ settings.icon_reinsurance_2 | img_url: '40x', scale: 2 | img_tag: settings.text_reinsurance_2, 'reinsurance__icon' }}
          </div>
          <div class="reinsurance__text-content">
            {{ settings.text_reinsurance_2 }}
          </div>
        {%- if settings.link_reinsurance_2 != blank -%}
        </a>
        {%- else -%}
        </div>
        {%- endif -%}
      </div>
      <div class="reinsurance grid__item">
        {%- if settings.link_reinsurance_3 != blank -%}
        <a href="{{ section.settings.link_reinsurance_3 }}" class="reinsurance_box{% if section.settings.show_text_box == true %} content-container color-{{ section.settings.color_scheme_text_box }} gradient{% endif %} text--{{ section.settings.text_alignment }} full-unstyled-link">
        {%- else -%}
        <div class="reinsurance_box{% if section.settings.show_text_box == true %} content-container color-{{ section.settings.color_scheme_text_box }} gradient{% endif %}">
        {%- endif -%}
          <div class="reinsurance__img-content">
            {{ settings.icon_reinsurance_3 | img_url: '40x', scale: 2 | img_tag: settings.text_reinsurance_3, 'reinsurance__icon' }}
          </div>
          <div class="reinsurance__text-content">
            {{ settings.text_reinsurance_3 }}
          </div>
        {%- if settings.link_reinsurance_3 != blank -%}
        </a>
        {%- else -%}
        </div>
        {%- endif -%}
      </div>
      <div class="reinsurance grid__item">
        {%- if settings.link_reinsurance_4 != blank -%}
        <a href="{{ section.settings.link_reinsurance_4 }}" class="reinsurance_box{% if section.settings.show_text_box == true %} content-container color-{{ section.settings.color_scheme_text_box }} gradient{% endif %} text--{{ section.settings.text_alignment }} full-unstyled-link">
        {%- else -%}
        <div class="reinsurance_box{% if section.settings.show_text_box == true %} content-container color-{{ section.settings.color_scheme_text_box }} gradient{% endif %}">
        {%- endif -%}
          <div class="reinsurance__img-content">
            {{ settings.icon_reinsurance_4 | img_url: '40x', scale: 2 | img_tag: settings.text_reinsurance_4, 'reinsurance__icon' }}
          </div>
          <div class="reinsurance__text-content">
            {{ settings.text_reinsurance_4 }}
          </div>
        {%- if settings.link_reinsurance_4 != blank -%}
        </a>
        {%- else -%}
        </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.reinsurances.name",
  "class": "section-reinsurances",
  "settings": [
    {
      "type": "checkbox",
      "id": "reinsurances_enable",
      "default": true,
      "label": "t:sections.reinsurances.settings.reinsurances_enable.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "Mise en forme des réassurances"
    },
    {
      "type": "select",
      "id": "box_direction",
      "options": [
        {
          "value": "row",
          "label": "t:sections.reinsurances.settings.box_direction.option_1.label"
        },
        {
          "value": "column",
          "label": "t:sections.reinsurances.settings.box_direction.option_2.label"
        }
      ],
      "default": "row",
      "label": "t:sections.reinsurances.settings.box_direction.label"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.reinsurances.settings.text_alignment.option_1.label"
        },
        {
          "value": "center",
          "label": "t:sections.reinsurances.settings.text_alignment.option_2.label"
        },
        {
          "value": "right",
          "label": "t:sections.reinsurances.settings.text_alignment.option_3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.reinsurances.settings.text_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "default": true,
      "label": "t:sections.reinsurances.settings.show_text_box.label"
    },
    {
      "type": "select",
      "id": "color_scheme_text_box",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.reinsurances.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.reinsurances.presets.name"
    }
  ]
}
{% endschema %}
