<!-- CartDrawer-progress result by Lamour du Shop -->
{% if settings.price_1 != blank %}
    {% if settings.price_1 contains ',' %}
      {% assign price_1_array = settings.price_1 | split: ',' %}
    {% elsif settings.price_1 contains '.' %}
      {% assign price_1_array = settings.price_1 | split: '.' %}
    {% else %}
      {%- assign price_1_array = settings.price_1 -%}
    {% endif %}
    {% unless settings.price_1 contains ',' and settings.price_1 contains '.' %}
      {%- assign price_free_sample_array = price_1_array | append: '00' -%}
    {% else %}
      {%- assign price_free_sample_array = price_1_array -%}
    {% endunless %}
  
    {%- assign price_free_sample = price_free_sample_array | plus: 0 -%}
  
    <div class="product-gift{% if cart.total_price >= price_free_sample %} notif-total-price{% endif %}">
      {% if cart.total_price <= price_free_sample %}
        <span>
          {{ settings.icon_gift }} {{ settings.text_gift }}
        </span>
      {% endif %}
  
      {% if cart.total_price >= price_free_sample %}
        <span>{{ settings.icon_gift }}</i> {{ settings.name_gift }}</span>
        <strong>{{ 'sections.cart.gift_free' | t | upcase }}</strong>
      {% endif %}
    </div>
  {% endif %}
  <!-- End // CartDrawer-progress result by Lamour du Shop -->
