{% comment %}
  Renders a breadcrumb

  Accepts:
  
  - hide_mobile: {Boolean} 
  - page-width: {String} 
  - justify: {String}
  - breadcrumb_color_scheme: {String}

  Usage:
  {% render 'lds-component-breadcrumb'
    breadcrumb_color_scheme: section.settings.breadcrumb_color_scheme,
    page-width: section.settings.page_width, 
    justify: section.settings.title_alignment, 
    hide_current: section.settings.hide_current,
    hide_desktop: section.settings.hide_desktop,
    hide_tablet: section.settings.hide_tablet,
    hide_mobile: section.settings.hide_mobile,
    class: section.settings.breadcrumb_css_class
  %}
{% endcomment %}

{%- unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' -%}
  {%- assign t = template | split: '.' | first -%}
  <div
    id="breadcrumb-{{ section.id }}"
    class="breadcrumb {{ class }} color-{{ breadcrumb_color_scheme }} section-{{ section.id }}-padding{% if hide_desktop %} largupHide{% endif %}{% if hide_tablet %} mediumHide{% endif %}{% if hide_mobile %} smallHide{% endif %}"
    {% if show_collection_background %}style="background: none transparent;"{% endif %}
  >
    <nav
      class="{{ page-width }}"
      role="navigation"
      aria-label="breadcrumb"
    >
      <ol itemscope itemtype="https://schema.org/BreadcrumbList" class="breadcrumb__list">
        <li
          itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem"
          class="breadcrumb__item"
        >
          <a
            itemscope itemtype="https://schema.org/WebPage"
            itemprop="item" itemid="{{ routes.root_url }}"
            href="{{ routes.root_url }}"
            class="breadcrumb__link"
            title="{{ 'general.breadcrumb.home' | t }}">
            <span itemprop="name">{{ 'general.breadcrumb.home' | t }}</span>
          </a>
          <meta itemprop="position" content="1">
        </li>
        {%- case t -%}
          {%- when 'page' -%}
            {% unless hide_current %}
              <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
              <li
                itemprop="itemListElement" itemscope
                itemtype="https://schema.org/ListItem"
                class="breadcrumb__item breadcrumb__item_last"
              >
                <span
                  itemscope itemtype="https://schema.org/WebPage"
                  itemprop="item" itemid="{{ page.url }}"
                  class="breadcrumb__link" aria-current="page"
                  title="{{ page.title }}">
                  <span itemprop="name">{{ page.title }}</span>
                </span>
                <meta itemprop="position" content="2">
              </li>
            {% endunless %}
          {%- when 'product' -%}
            <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
            {%- if collection.url -%}
              <li
                itemprop="itemListElement" itemscope
                itemtype="https://schema.org/ListItem"
                class="breadcrumb__item"
              >
                <a
                  itemscope itemtype="https://schema.org/WebPage"
                  itemprop="item" itemid="{{ collection.url }}"
                  href="{{ collection.url }}"
                  class="breadcrumb__link"
                  title="{{ collection.title }}">
                  <span itemprop="name">{{ collection.title }}</span>
                </a>
                <meta itemprop="position" content="2">
              </li>
            {%- elsif product.collections.size > 0 -%}
              {%- if product.metafields.custom.breadcrumb != blank -%}
                {% for collection in product.metafields.custom.breadcrumb.value %}
                  <li 
                    itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem"
                    class="breadcrumb__item"
                    >
                    <a
                      itemscope itemtype="https://schema.org/WebPage"
                      itemprop="item" itemid="{{ collection.url }}"
                      href="{{ collection.url }}"
                      class="breadcrumb__link"
                      title="{{ collection.title }}">
                      <span itemprop="name">{{ collection.title }}</span>
                    </a>
                    <meta itemprop="position" content="{{ forloop.index | plus: 1 }}">
                  </li>
                  <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
                {% endfor %}
              {%- else -%}
                <li
                  itemprop="itemListElement" itemscope
                  itemtype="https://schema.org/ListItem"
                  class="breadcrumb__item"
                >
                  <a
                    itemscope itemtype="https://schema.org/WebPage"
                    itemprop="item" itemid="{{ product.collections.first.url }}"
                    href="{{ product.collections.first.url }}"
                    class="breadcrumb__link"
                    title="{{ product.collections.first.title }}">
                    <span itemprop="name">
                      {{- product.collections.first.title -}}
                    </span>
                  </a>
                  <meta itemprop="position" content="2">
                </li>
                {% unless hide_current %}
                  <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
                {% endunless %}
              {%- endif -%}
            {%- endif -%}
            {%- if product.collections.size > 0 and product.metafields.custom.breadcrumb != blank -%}
              {% for collection in product.metafields.custom.breadcrumb.value %}
                {% assign position = forloop.length | plus: 2 %}
              {% endfor %}
              {% unless hide_current %}
                <li
                  itemprop="itemListElement" itemscope
                  itemtype="https://schema.org/ListItem"
                  class="breadcrumb__item breadcrumb__item_last"
                >
                  <span
                    itemscope itemtype="https://schema.org/WebPage"
                    itemprop="item" itemid="{{ product.url }}"
                    class="breadcrumb__link" aria-current="page">
                    <span itemprop="name">{{ product.title }}</span>
                  </span>
                  <meta itemprop="position" content="{{ position }}">
                </li>
              {% endunless %}
            {%- else -%}
              {% unless hide_current %}
                <li
                    itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem"
                    class="breadcrumb__item breadcrumb__item_last"
                  >
                  <span
                    itemscope itemtype="https://schema.org/WebPage"
                    itemprop="item" itemid="{{ product.url }}"
                    class="breadcrumb__link" aria-current="page">
                    <span itemprop="name">{{ product.title }}</span>
                  </span>
                  <meta itemprop="position" content="3">
                </li>
              {% endunless %}
            {%- endif -%}
          {%- when 'collection' and collection.handle -%}
            {%- if current_tags -%}
              <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
              <li
                itemprop="itemListElement" itemscope
                itemtype="https://schema.org/ListItem"
                class="breadcrumb__item 1_current_tags"
              >
                <a 
                  itemscope itemtype="https://schema.org/WebPage"
                  itemprop="item" itemid="{{  collection.url }}"
                  href="{{ collection.url }}"
                  class="breadcrumb__link" 
                  title="{{ collection.title }}">
                  <span itemprop="name">{{ collection.title }}</span>
                </a>
                <meta itemprop="position" content="2">
              </li>
              <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
              <li
                itemprop="itemListElement" itemscope
                itemtype="https://schema.org/ListItem"
                class="breadcrumb__item 2_current_tags"
              >
                {%- capture tag_url -%}{{ collection.url }}/{{ current_tags | join: "+" }}{%- endcapture -%}
                <a 
                  itemscope itemtype="https://schema.org/WebPage"
                  itemprop="item" itemid="{{ tag_url }}"
                  href="{{ tag_url }}"
                  class="breadcrumb__link" aria-current="page">
                  <span itemprop="name">{{ current_tags | join: ' + ' }}</span>
                </a>
                <meta itemprop="position" content="3">
              </li>
              <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
            {%- elsif collection.metafields.custom.breadcrumb != blank -%}
              {% for collection in collection.metafields.custom.breadcrumb.value %}
                {% assign position = forloop.length | plus: 2 %}
                <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
                <li 
                  itemprop="itemListElement" itemscope
                  itemtype="https://schema.org/ListItem"
                  class="breadcrumb__item {{ forloop.index }}_current_meta_collection"
                >
                  <a
                    itemscope itemtype="https://schema.org/WebPage"
                    itemprop="item" itemid="{{ collection.url }}"
                    href="{{ collection.url }}"
                    class="breadcrumb__link"
                    title="{{ collection.title }}">
                    <span itemprop="name">{{ collection.title }}</span>
                  </a>
                  <meta itemprop="position" content="{{ forloop.index | plus: 1 }}">
                </li>
              {% endfor %}
                <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
                <li
                  itemprop="itemListElement" itemscope
                  itemtype="https://schema.org/ListItem"
                  class="breadcrumb__item last_current_collection"
                >
                  <span
                    itemscope itemtype="https://schema.org/WebPage"
                    itemprop="item" itemid="{{ collection.url }}"
                    class="breadcrumb__link" aria-current="page"
                    title="{{ collection.title }}"
                  >
                    <span itemprop="name">{{ collection.title }}</span>
                  </span>
                  <meta itemprop="position" content="{{ position }}">
                </li>
            {%- else -%}
              <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
              <li
                itemprop="itemListElement" itemscope
                itemtype="https://schema.org/ListItem"
                class="breadcrumb__item last_of_collection"
              >
                <span
                  itemscope itemtype="https://schema.org/WebPage"
                  itemprop="item" itemid="{{ collection.url }}"
                  class="breadcrumb__link" aria-current="page"
                  title="{{ collection.title }}"
                >
                  <span itemprop="name">{{ collection.title }}</span>
                </span>
                <meta itemprop="position" content="2">
              </li>
            {%- endif -%}
          {%- when 'blog' -%}
            {%- if current_tags -%}
              <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
              <li
                itemprop="itemListElement" itemscope
                itemtype="https://schema.org/ListItem"
                class="breadcrumb__item"
              >
                <a 
                  itemscope itemtype="https://schema.org/WebPage"
                  itemprop="item" itemid="{{ blog.url }}"
                  href="{{ blog.url }}"
                  class="breadcrumb__link" 
                  title="{{ blog.title }}">
                  <span itemprop="name">{{ blog.title }}</span>
                </a>
                <meta itemprop="position" content="2">
              </li>
              <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
              <li
                itemprop="itemListElement" itemscope
                itemtype="https://schema.org/ListItem"
                class="breadcrumb__item"
              >
                {%- capture tag_url -%}{{blog.url}}/tagged/{{ current_tags | join: "+" }}{%- endcapture -%}
                <a 
                  itemscope itemtype="https://schema.org/WebPage"
                  itemprop="item" itemid="{{ tag_url }}"
                  href="{{ tag_url }}"
                  class="breadcrumb__link" aria-current="page">
                  <span itemprop="name">{{ current_tags | join: ' + ' }}</span>
                </a>
                <meta itemprop="position" content="3">
              </li>
            {%- else -%}
              <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
              <li
                itemprop="itemListElement" itemscope
                itemtype="https://schema.org/ListItem"
                class="breadcrumb__item"
              >
                <a 
                  itemscope itemtype="https://schema.org/WebPage"
                  itemprop="item" itemid="{{ blog.url }}"
                  href="{{ blog.url }}"
                  class="breadcrumb__link" aria-current="page">
                  <span itemprop="name">{{ blog.title }}</span>
                </a>
                <meta itemprop="position" content="2">
              </li>
            {%- endif -%}
          {%- when 'article' -%}
            <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
            <li
              itemprop="itemListElement" itemscope
              itemtype="https://schema.org/ListItem"
              class="breadcrumb__item"
            >
              <a
                itemscope itemtype="https://schema.org/WebPage"
                itemprop="item" itemid="{{ blog.url }}"
                href="{{ blog.url }}"
                class="breadcrumb__link" title="{{ blog.title }}">
                <span itemprop="name">{{ blog.title }}</span>
              </a>
              <meta itemprop="position" content="2">
            </li>
            {% unless hide_current %}
              <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
              <li
                itemprop="itemListElement" itemscope
                itemtype="https://schema.org/ListItem"
                class="breadcrumb__item breadcrumb__item_last"
              >
                <span
                  itemscope itemtype="https://schema.org/WebPage"
                  itemprop="item" itemid="{{ article.url }}"
                  class="breadcrumb__link" aria-current="page">
                  <span itemprop="name">{{ article.title }}</span>
                </span>
                <meta itemprop="position" content="3">
              </li>
            {% endunless %}
          {%- else -%}
            {% unless hide_current %}
              <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
              <li
                itemprop="itemListElement" itemscope
                itemtype="https://schema.org/ListItem"
                class="breadcrumb__item breadcrumb__item_last"
              >
                <span
                  itemscope itemtype="https://schema.org/WebPage"
                  itemprop="item" itemid="{{ request.path }}"
                  class="breadcrumb__link" aria-current="page">
                  <span itemprop="name">{{ page_title }}</span>
                </span>
                <meta itemprop="position" content="2">
              </li>
            {% endunless %}
        {%- endcase -%}
      </ol>
    </nav>
  </div>
{%- endunless -%}

{%- style -%}
  .breadcrumb {
    z-index: 2;
    position: relative;
  }
  
  #breadcrumb-{{ section.id }} nav {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: {{ justify }};
    font-size: 1rem;
  }

  .breadcrumb__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: scroll;
    gap: .25rem;
  }

  .breadcrumb__item {
    display: inline-block;
  }

  .breadcrumb .icon-caret {
    width: .75rem;
    height: .75rem;
    position: relative;
    transform: rotate(-90deg);
    vertical-align: baseline;
    min-width: .75rem;
  }

  .breadcrumb__link {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
  }

  .breadcrumb__link[aria-current="page"] {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
  }

  .breadcrumb__link[aria-current="page"]:hover,
  .breadcrumb__link[aria-current="page"]:focus {
    text-decoration: none;
  }

  .breadcrumb nav:not(.page-width) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .breadcrumb.section-{{ section.id }}-padding {
    padding-top: {{ section.settings.breadcrumb_padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.breadcrumb_padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
     .breadcrumb__list {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .breadcrumb__item.breadcrumb__item_last {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .breadcrumb nav:not(.page-width) {
      padding-left: 5rem;
      padding-right: 5rem;
    }

    .breadcrumb.section-{{ section.id }}-padding {
      padding-top: {{ section.settings.breadcrumb_padding_top }}px;
      padding-bottom: {{ section.settings.breadcrumb_padding_bottom }}px;
    }
  }
{%- endstyle -%}
