{{ 'reinsurance-footer.css' | asset_url | stylesheet_tag }}
<div class="footer__reinsurances">
  <div class="page-width">
    <div class="grid grid--2-col grid--4-col-tablet grid--4-col-desktop">
      <div class="grid__item">
        {{ settings.icon_reinsurance_1 | img_url: '40x', scale: 2 | img_tag: settings.text_reinsurance_1, 'reinssurance__icon' }}
        <div class="reassurance__text-content">
          <p>{{ settings.text_reinsurance_1 }}</p>
        </div>
      </div>
      <div class="grid__item">
        {{ settings.icon_reinsurance_2 | img_url: '40x', scale: 2 | img_tag: settings.text_reinsurance_2, 'reinssurance__icon' }}
        <div class="reassurance__text-content">
          <p>{{ settings.text_reinsurance_2 }}</p>
        </div>
      </div>
      <div class="grid__item">
        {{ settings.icon_reinsurance_3 | img_url: '40x', scale: 2 | img_tag: settings.text_reinsurance_3, 'reinssurance__icon' }}
        <div class="reassurance__text-content">
          <p>{{ settings.text_reinsurance_3 }}</p>
        </div>
      </div>
      <div class="grid__item">
        {{ settings.icon_reinsurance_4 | img_url: '40x', scale: 2 | img_tag: settings.text_reinsurance_4, 'reinssurance__icon' }}
        <div class="reassurance__text-content">
          <p>{{ settings.text_reinsurance_4 }}</p>
        </div>
    </div>
  </div>
</div>
